{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geocaching APP - Creations</title>
{% endblock %}
{% block body %}
    <!-- Main Content -->
    <div class="container">
        <h2 class="title">Your hunts</h2>
        <div id="games-list">
            {% for game in games %}
                <div class="game-item" onclick="window.location.href='/view_game/{{ game.name }}'">
                    <!-- Map Preview -->
                    <div id="map-{{ game.name }}" class="map-preview">
                        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
                        <script>
                            var latLngBounds = [
                                [{{ game.area.lat1 }}, {{ game.area.lon1 }}],
                                [{{ game.area.lat2 }}, {{ game.area.lon2 }}]
                            ];

                            var lat = ({{ game.area.lat1 }} + {{ game.area.lat2 }}) / 2;
                            var lon = ({{ game.area.lon1 }} + {{ game.area.lon2 }}) / 2;
                            var map = L.map('map-{{ game.name }}',
                                {
                                    zoomControl: false,
                                    attributionControl: false
                                })
                                .setView([lat, lon], 13);
                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);
                            L.rectangle(latLngBounds).addTo(map);
                            map.fitBounds(latLngBounds);
                        </script>
                    </div>
                    <!-- Game Info -->
                    <div class="game-info">
                        <h2>{{ game.name }}</h2>
                        <div class="game-details">
                            <div class="game-details-row">
                                <span style="margin-top: 3px; font-size: smaller;">{{ game.date }}</span>
                            </div>
                            <div class="game-details-row">
                                <div class="game-status {{ game.status | lower | replace(" ", "-") }}">
                                    {{ game.status }}
                                </div>
                                <span><strong>Caches:</strong> {{ game.markers }}</span>
                            </div>
                            <div class="game-details-row">
                                <span><strong>Players:</strong> {{ game.players }}</span>
                            </div>
                            <div class="game-details-row">
                                {% if game.winner %}
                                    <span>Winner: <strong>{{ game.winner.name }}</strong></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}