<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/hunts.css') }}">
</head>
<body>

<!-- Header Section -->
<div class="header">
    <div class="left">
        <span class="username">{{ session.userinfo.given_name }}</span>
    </div>

    <div class="center">
        <button class="navigation" onclick="window.location.href='/my_games'">Hunt Creations</button>
        <button class="navigation" onclick="window.location.href='/user_games'">Hunt</button>
        <button class="navigation" onclick="window.location.href='/home'">Global hunts</button>
        <button class="navigation" onclick="window.location.href='/new_game'">Plan a hunt</button>
    </div>
    <div class="right">
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>

<!-- Main Content -->
<div class="container">
    <h1>Welcome, {{ session.userinfo.name }}</h1>
    <div id="games-list">
        {% for game in games %}
            <div class="game-item" onclick="window.location.href='/game/{{ game.id }}'">
                <!-- Map Preview -->
                <div id="map-{{ game.id }}" class="map-preview"></div>

                <!-- Game Info -->
                <div class="game-info">
                    <h2>{{ game.name }}</h2>
                    <div class="game-details">
                        <p><strong>Creator:</strong> {{ game.creator }} </p>
                        <p> {{ game.date }}</p>
                    </div>

                    <div class="game-details">
                        <div class="game-status {{ game.status | lower | replace(" ", "-") }}">
                            {{ game.status }}
                        </div>
                        <p><strong>Markers:</strong> {{ game.markers }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for game in games %}
            var latLngBounds = [
                [{{ game.area.lat1 }}, {{ game.area.lon1 }}],
                [{{ game.area.lat2 }}, {{ game.area.lon2 }}]
            ];

            var lat = ({{ game.area.lat1 }} +{{ game.area.lat2 }}) / 2;
            var lon = ({{ game.area.lon1 }} +{{ game.area.lon2 }}) / 2;

            var map = L.map('map-{{ game.id }}').setView([lat, lon], 13);

            //var map = L.map('map-{{ game.id }}');
            //map.fitBounds(latLngBounds);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
               attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.rectangle(latLngBounds, {color: "#ff7800", weight: 1}).addTo(map);
        {% endfor %}
    });
</script>
</body>
</html>
