{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <title>Geocaching APP - Supervising game {{ game.name }}</title>
{% endblock %}
{% block body %}
    <!-- Main Content -->
    <div class="container">
        <div id="map"></div>

        <div class="sidebar">
            <label for="gameName">{{ game.name }}</label>
            <div class="game-details">
                <div class="game-details-row" style="margin-top:5px;">
                    <span style="font-size: smaller;">{{ game.date }}</span>
                </div>
                <div class="game-details-row">
                    <div class="game-status {{ game.status | lower | replace(" ", "-") }}">
                        {{ game.status }}
                    </div>
                </div>
                <div class="game-details-row">
                    <span><strong>Players:</strong> {{ game.players }}</span>
                </div>

                <div class="game-details-row">
                    {% if game.winner %}
                        <p><span>Winner: </span> <strong>{{ game.winner.name }}</strong></p>
                    {% endif %}
                </div>

                {% if game.winner %}
                    <div class="winner-details">
                        <button id="foldout-btn-winner" class="foldout-btn" onclick="toggleWinnerDetails()">WINNER</button>
                        <div id="winner-markers-details" class="marker-details" style="display: none;">
                            {% for marker in game.winnerMarkers %}
                                <p>Cache #{{ loop.index }}</p>
                                <p><img src="{{ marker.image }}" alt="Player Image" style="max-width: 100px;"></p>
                            {% endfor %}
                            {% if game.status == "In revision" %}
                                <div class="actions">
                                    <button class="submitButton" onclick="clearWinner()">Clear Winner</button>
                                    <button class="submitButton" onclick="validateWinner()">Validate Winner</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="marker-list" id="markerList">
                    {% for marker in game.markers %}
                        <div class="marker-item">
                            <button id="foldout-btn-{{ marker.id }}" class="foldout-btn" onclick="toggleMarkerDetails({{ marker.id }})">Cache #{{ loop.index }}</button>
                            <div id="marker-details-{{ marker.id }}" class="marker-details" style="display: none;">
                                {% if marker.clueText %}
                                    <p id="clueText-{{ marker.id }}" style="display: block;"><strong>Clue Text:</strong> {{ marker.clueText }}</p>
                                {% endif %}
                                {% if marker.clueImage %}
                                    <p id="clueImage-{{ marker.id }}" style="display: block;"><strong>Clue Image:</strong></p>
                                    <img src="{{ marker.clueImage }}" alt="Clue Image" style="max-width: 300px; max-height: 300px; margin-top: 10px; display: block;">
                                {% endif %}
                                {% if marker.foundBy %}
                                    <div>
                                        <p><b>Found by:</b></p>
                                        {% for player in  marker.foundBy %}
                                            <div>
                                                <span>{{ player.user_name }}</span>
                                                <span style="font-size: smaller; float: right;">{{ player.date }}</span>
                                            </div>
                                            <p><span><img src="{{ player.image }}" alt="Player Image" style="max-width: 100px;"></span>
                                                {% if game.status != "Completed" %}
                                                    <span><button id="delete-player-btn" class="delete-btn" onclick="removePlayerAnswer('{{ player.user_id }}',{{ marker.id }})">Remove Player's Answer</button></span>
                                                {% endif %}
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="actions">
                <button class="submitButton" onclick="resetGame()">Reset Game</button>
                <button class="submitButton" onclick="deleteGame()">Delete Game</button>
            </div>
        </div>


        <!-- Incluir Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            var map = L.map('map'); //Empty map
            var gameData = {{ game | tojson }};
            var markers = {{game.markers | tojson}};

            console.log(markers);

            window.onload = initializeMap;

            function initializeMap() {
                var latLngBounds = [
                    [{{ game.area.lat1 }}, {{ game.area.lon1 }}],
                    [{{ game.area.lat2 }}, {{ game.area.lon2 }}]
                ];

                var lat = ({{ game.area.lat1 }} + {{ game.area.lat2 }}) / 2;
                var lon = ({{ game.area.lon1 }} + {{ game.area.lon2 }}) / 2;
                map.setView([lat, lon], 13);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                L.rectangle(latLngBounds).addTo(map);
                map.fitBounds(latLngBounds);

                loadMarkers();
            }

            function loadMarkers() {
                markers.forEach((marker, index) => {
                    var content = `
                        <p><b>ID:</b> ${index + 1}</p>
                        <p><b>Position:</b> (${marker.lat.toFixed(6)}, ${marker.lng.toFixed(6)})</p>
                        <p><b>Clue Text:</b> ${marker.clueText || 'None'}</p>
                        ${marker.clueImage ? `<img src="${marker.clueImage}" alt="Clue Image" style="max-width: 200px;">` : ''}`;

                    L.marker([marker.lat, marker.lng]).addTo(map)
                        .bindPopup(content);
                });
            }

            function toggleMarkerDetails(markerId) {
                var details = document.getElementById("marker-details-" + markerId);
                details.style.display = details.style.display === "none" ? "block" : "none";
            }

            function toggleWinnerDetails() {
                var details = document.getElementById("winner-markers-details");
                details.style.display = details.style.display === "none" ? "block" : "none";
            }

            function resetGame() {
                Swal.fire({
                    title: 'Are you sure to reset the game?',
                    text: "All players answers will be removed.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, reset it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/reset_game/' + gameData.name, {
                            method: 'GET'
                        });
                        Swal.fire(
                            'Game reset!',
                            'All players answers have been removed.',
                            'success'
                        ).then(result => {
                            showLoadingOverlay();
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });

                    }
                });
            }

            function deleteGame() {
                Swal.fire({
                    title: 'Are you sure to delete the game?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/delete_game/' + gameData.name, {
                            method: 'GET'
                        });
                        Swal.fire(
                            'Game deleted!',
                            'Game has been deleted from the database.',
                            'success'
                        ).then(result => {
                            showLoadingOverlay();
                            if (result.isConfirmed) {
                                window.location.href = '/huntCreations';
                            }
                        });
                    }
                });
            }

            function clearWinner() {
                Swal.fire({
                    title: 'Are you sure to clear the winner?',
                    text: "You won't be able to revert this! All winner answers will be removed.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, confirm it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/clear_winner/' + gameData.name, {
                            method: 'GET'
                        });
                        Swal.fire(
                            'Winner cleared!',
                            'The winner has been removed.',
                            'success'
                        ).then(result => {
                            showLoadingOverlay();
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });

                    }
                });
            }

            function validateWinner() {
                Swal.fire({
                    title: 'Are you sure to confirm the winner?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, confirm it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/validate_winner', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({game_name: gameData.name})
                        });
                        Swal.fire(
                            'Game completed!',
                            'The winner has been confirmed.',
                            'success'
                        ).then(result => {
                            showLoadingOverlay();
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });

                    }
                });
            }

            function removePlayerAnswer(playerId, markerId) {
                Swal.fire({
                    title: 'Are you sure to remove player\'s image?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, remove it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/remove_player_image', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({playerId: playerId, markerId: markerId, game_name: gameData.name})
                        });
                        Swal.fire(
                            'Image removed!',
                            '',
                            'success'
                        ).then(result => {
                            showLoadingOverlay();
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });

                    }
                });
            }
        </script>
    </div>
{% endblock %}