{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supervise game {{ game.name }}</title>
    <style>
        .container {
            background: #fff;
            padding: 20px 30px;
            border-radius: 10px;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
            max-width: 1500px;
            width: 100%;
            height: 80%;
            margin-top: 80px;
            display: flex;
            flex: 1;
        }

        #map {
            width: 50%;
            height: 100%;
        }

        .sidebar {
            width: 50%;
            height: 96%;
            display: flex;
            flex-direction: column;
            background-color: #f9f9f9;
            padding: 20px;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
            overflow-y: auto;
        }

        .sidebar .marker-list {
            flex: 1;
            overflow-y: auto;
            margin-top: 20px;
        }

        .sidebar .marker-item {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .sidebar .marker-item input,
        .sidebar .marker-item textarea {
            width: calc(100% - 20px);
            margin-bottom: 10px;
        }

        .sidebar .marker-item img {
            max-width: 50%;
            margin-bottom: 10px;
        }

        .sidebar .actions {
            text-align: right;
            margin-top: 20px;
        }

        .sidebar .actions button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4facfe;
            color: white;
            border: none;
            border-radius: 5px;
            transition: background 0.3s;
        }

        .sidebar .actions button:hover {
            background-color: #00c6ff;
        }

        .actions button {
            width: 100%;
            padding: 10px;
            background-color: #4facfe;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: background 0.3s;
            margin-bottom: 10px;
        }

        .delete-btn {
            margin-top: 10px;
            background-color: red;
            color: white;
            display: block;
        }

    </style>
{% endblock %}
{% block body %}
    <!-- Main Content -->
    <div class="container">
        <div id="map"></div>

        <div class="sidebar">
            <label for="gameName">{{ game.name }}</label>
            <div class="game-details">
                <div class="game-details-row" style="margin-top:5px;">
                    <span style="font-size: smaller;">{{ game.date }}</span>
                </div>
                <div class="game-details-row">
                    <div class="game-status {{ game.status | lower | replace(" ", "-") }}">
                        {{ game.status }}
                    </div>
                </div>
                <div class="game-details-row">
                    {% if game.winner %}
                        <p><span>Winner: </span> <strong>{{ game.winner }}</strong></p>
                    {% endif %}
                </div>

                <div class="marker-list" id="markerList"></div>
            </div>
                <div class="actions">
                    <button onclick="resetGame()">Reset Game</button>
                    {% if game.winner %}
                    <button onclick="checkWinner()">Check Winner</button>
                    {% endif %}
                </div>
            </div>


            <!-- Incluir Leaflet JS -->
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
            <!-- Incluir Leaflet Draw JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

            <script>
                var map = L.map('map'); //Empty map
                var markers = {{game.markers | tojson}};

                console.log(markers);

                window.onload = initializeGame;

                function initializeGame() {
                    var latLngBounds = [
                        [{{ game.area.lat1 }}, {{ game.area.lon1 }}],
                        [{{ game.area.lat2 }}, {{ game.area.lon2 }}]
                    ];

                    var lat = ({{ game.area.lat1 }} + {{ game.area.lat2 }}) / 2;
                    var lon = ({{ game.area.lon1 }} + {{ game.area.lon2 }}) / 2;
                    map.setView([lat, lon], 13);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    L.rectangle(latLngBounds).addTo(map);
                    map.fitBounds(latLngBounds);

                    loadMarkers();
                }

                function loadMarkers() {
                    var markerList = document.getElementById('markerList');
                    markerList.innerHTML = '';

                    markers.forEach((marker,index) => {
                        var content = `
                        <p><b>ID:</b> ${index+1}</p>
                        <p><b>Position:</b> (${marker.lat.toFixed(6)}, ${marker.lng.toFixed(6)})</p>
                        <p><b>Clue Text:</b> ${marker.clueText || 'None'}</p>
                        ${marker.clueImage ? `<img src="${marker.clueImage}" alt="Clue Image" style="max-width: 200px;">` : ''}`;

                        L.marker([marker.lat, marker.lng]).addTo(map)
                            .bindPopup(content);
                    });

                    markers.forEach((marker, index) => {
                        var markerItem = document.createElement('div');
                        markerItem.className = 'marker-item';
                        markerItem.innerHTML = ``;

                        let foundByContent = '';
                        if (marker.foundBy.length > 0) {
                            foundByContent = `<p><b>Found by:</b></p>`;
                            marker.foundBy.forEach(player => {
                                foundByContent += `
                                <p>${player.user_name}</p>
                                <p><b>Player's Image:</b></p>
                                <p><span><img src="${player.image}" alt="Player Image" style="max-width: 100px;"></span>
                                <span><button id="delete-player-btn" class="delete-btn" onclick="removePlayerAnswer('${player.user_id}', '${marker.id}')">Remove Player's Answer</button></span></p>
                            `;
                            });
                        }

                        markerItem.innerHTML = `
                        <p>Marker ${index + 1}: (${marker.lat.toFixed(6)}, ${marker.lng.toFixed(6)})</p>
                        <p><b>Clue Text:</b> ${marker.clueText}</p>
                        ${marker.clueImage ? `<p><b>Clue Image:</b>
                            <img src="${marker.clueImage}" alt="Clue Image" style="max-width: 300px; max-height: 300px; margin-top: 10px; display: block;">
                        </p>` : ''}
                        ${foundByContent}
                        `;

                        markerList.appendChild(markerItem);
                    });
                }

                function resetGame() {
                    fetch('/reset_game', {method: 'POST'})
                        .then(response => response.json())
                        .then(() => {
                            gameData.markers.forEach(marker => {
                                marker.foundBy = null;
                                marker.playerImage = null;
                            });
                            loadMarkers();
                        })
                        .catch(error => {
                            console.error("Error al reiniciar el juego", error);
                        });
                }

                function checkWinner() {
                    var winner = null;
                    game.players.forEach(player => {
                        if (player.foundAllCaches) {
                            winner = player;
                        }
                    });

                    if (winner) {
                        // Mostrar el mensaje que se ha encontrado un posible ganador
                        alert(`Possible winner: ${winner.name}. Do you accept this player as the winner?`);
                        // Aquí se puede incluir lógica para cambiar el estado del juego
                        changeGameStatus('In revision');
                    } else {
                        alert('No winner found yet');
                    }
                }

                function changeGameStatus(status) {
                    fetch('/update_game_status', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({gameId: gameData.id, status: status})
                    })
                        .then(response => response.json())
                        .then(() => {
                            alert(`Game status updated to: ${status}`);
                        })
                        .catch(error => {
                            console.error("Error al actualizar el estado del juego", error);
                        });
                }

                function removePlayerAnswer(playerId, markerId) {
                    fetch('/remove_player_answer', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({markerId: markerId})
                    })
                        .then(response => response.json())
                        .then(() => {
                            alert('Player answer removed');
                            loadMarkers();
                        })
                        .catch(error => {
                            console.error("Error al eliminar la respuesta del jugador", error);
                        });
                }
            </script>
        </div>
{% endblock %}